<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Pages">
	<listeners>
<listener class-name="org.testing.Base.Listeners"/>
	</listeners>
  <test thread-count="5" name="Login">
    <classes>
      <class name="org.testing.Pages.Teams"/>
      <class name="org.testing.Pages.TeamSpends"/>
      <class name="org.testing.Pages.TeamSummary"/>
      <class name="org.testing.Pages.Categories"/>
     <class name="org.testing.Pages.MIS"/>
      </classes>
      </test>
 
  <test thread-count="5" name="TeamsCases">
    <classes>
      <class name ="org.testing.TestCases.AddMembervirtual"/>
      <class name ="org.testing.TestCases.Addmemberphysical"/>
      <class name ="org.testing.TestCases.Teamsfilter"/>
      <class name = "org.testing.TestCases.Cardsettings"/>
      <class name = "org.testing.TestCases.Addmoney"/>
</classes>
      </test>
    </suite>
  

  
  


     
    
    
	